<div class="row">
  <div class="jumbotron about">
    <div class="title">
      <h2 class="col-sm-10 col-sm-offset-1">"We believe in the pursuit of learning and creating a better life for ourselves. Learning to code is a great investment of your time and energy. Sometimes continuing to grow means you learn from others, and sometimes it means to teach them."</h2>
      <h4 class="col-sm-5 col-sm-offset-7">-Milwaukee Code Slingers</h4>
      <i class="fa fa-angle-down fa-5x col-sm-2 col-md-offset-6 arrow"></i>
    </div>
  </div>

	<div class="col-md-3 col-md-offset-1">
		<h3>Our Approach</h3>
		<p>By bringing together a group of aspiring, beginner, and intermediate developers, we can share ideas, ask questions and develop our skills. The format is structured. It involves time for topic-based learning, hands-on application for your projects and getting to know each other along with potential opportunities for projects and jobs. If you show up and are willing to put in the work, we will help you on your coding journey.</p>
	</div>

	<div class="col-md-4 col-md-offset-0">
		<h3>Meet Up With Us!</h3>
		<p>Currently, we are focused upon beginner level topics for our meetups, simply due to the skill level of the members who were able to attend the first few meetups. In the future, we will have intermediate level topics as well.</p>
		<h5>We have 3 meetup types at the moment:</h5>
		<ol>
			<li>Big Topic Demo - A workshop of sorts - hands-on demo then time for application or group work after.</li>
			<li>Lightning Talks - 3-4 topics @ 5-7 min each, ANY member of ANY skill level can present. 2nd half is hands-on time.</li>
			<li>Shop Time - work on a group project, get help, pair program, share ideas or do some codewars.com!</li>
		</ol>
	</div>

	<div class="col-md-3 col-md-offset-0">
		<h3>Want To Share Your Knowledge?</h3>
		<p>If you are a more advanced, senior-level developer, consider being a mentor, presenting, or heading up a group project in a language of your choice. Any skill level can be a mentor for someone, you just have to have an open mind and a willingness to help your fellow Code Slingers...</p>
	</div>
</div>
