/*
Add custom styles in this file to override bootstrap's styles
*/

/* Test */
.resource_title {
	color: red;
}

/*Adjust Navbar overlay when fixed to top*/
body {
	padding-top: 70px;
}

.about {
	padding-bottom: 70px;
}

/*Footer CSS*/
footer {
    background-color: #333;
		height: auto;
		min-height: 20px;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px;
}

footer div a {
	padding: 0 20px;
}

.social {
	float: right;
}