<div class="jumbotron intro members">
  <h1>Get to know <br> the code slingers!</h1>
  <h3>These are all of the awesome people you'll get to hangout with.</h3>
</div>
<div class="col-md-8 col-md-offset-2 member-pics">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
      
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <!--li data-target="#carousel-example-generic" data-slide-to="2"></li-->
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner inner" role="listbox">
        <div class="item member active">
          <%= image_tag "ed.jpg", class: 'member-image' %>
          <div class="carousel-caption" >
            <h1 >Ed Knueppel</h1>
          </div>
        </div>
        
        <div class="item member">
          <div class="carousel-caption">
            <h1 >Ryan Lijewski</h1>
          </div>
          <%= image_tag "ryan.jpg", class: 'member-image' %>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>